* {
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffdd9;
  padding-bottom: 40px;
}

.head {
  margin-left: 110px;
}

.item {
  display: inline-block;
  color: rgb(0, 0, 0);
  padding: 15px;
  margin-left: 40px;
  margin-top: 30px;
  margin-bottom: 20px;
  transition: 0.5s;
}

.item:hover {
  color: #19d7f8;
}

.item1 {
  color: white;
}

.title {
  background: -webkit-linear-gradient(60deg, #00ff5e, #005a03 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mypic {
  box-shadow: 5px 5px 15px black;
  display: block;
  margin-top: 70px;
  margin-left: 150px;
  border-top-left-radius: 100px;
}

.title1 {
  display: block;
  margin-top: 50px;
  margin-left: 50px;
  font-size: 50px;
}
.descrip1 {
  font-size: 15px;
  margin-left: 120px;
  margin-top: 20px;
  color: rgb(0, 0, 0);
  display: block;
}
.middle {
  display: block;
  justify-content: center;
}

.bottom {
  display: block;
  margin-top: 50px;
  margin-left: 150px;
}

.title2 {
  font-size: 50px;
  margin-bottom: 25px;
  text-align: center;
}

.card {
  width: 18rem;
  vertical-align: center;
  transition: 1s;
}

.card:hover {
  margin-left: 50px;
  margin-right: 50px;
  width: 20rem;
}

.card-text {
  color: rgb(109, 109, 109);
}

/*contact*/
.middle3 {
  display: block;
  justify-content: center;
  margin: 100px;
}
.t1 {
  margin-left: 100px;
  color: rgb(47, 39, 16);
}
.facebook:hover {
  text-decoration: underline;
  color: #bf00ff;
}

.email:hover {
  text-decoration: underline;
  color: #ff0095;
}

.td1 {
  padding-left: 60px;
  color: rgb(0, 0, 0);
}

.td2 {
  font-weight: bold;
}

.contact {
  margin-top: 20px;
  display: block;
  justify-content: center;
  padding: 20px;
  border-radius: 50px;
  margin-bottom: 50px;
}

/*experience*/
.middle2 {
  display: block;
  justify-content: center;
}
.accordion {
  background-color: #505b5e;
  color: #eee;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-left: 10%;
  width: 80%;
}

.active,
.accordion:hover {
  background-color: rgb(202, 202, 202);
  color: #2d3436;
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {
  border-left: 5px rgb(202, 202, 202) solid;
  color: white;
  padding: 0 18px;
  background-color: #505b5e;
  max-height: 0;
  overflow: hidden;
  margin-left: 20px;
  transition: max-height 0.5s;
  margin-left: 10%;
  width: 80%;
}
.click {
  font-weight: lighter;
  color: gray;
}
.other-ex {
  height: 200px;
  width: 250px;
  border-radius: 3px;
  transition: 0.5s;
  object-fit: cover;
}
.card2 {
  height: 200px;
  /* margin: 20px; */
  width: 250px;
  box-shadow: 5px 5px 20px black;
  overflow: hidden;
}
.intro {
  height: 60px;
  width: 250px;
  padding: 6px;
  box-sizing: border-box;
  position: absolute;
  background: white;
  color: #2d3436;
  transition: 0.5s;
}

.title3 {
  margin: 10px;
  font-size: 25px;
}

.inner {
  font-size: 15px;
  margin: 20px;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

.card2:hover {
  cursor: pointer;
}

.card2:hover .intro {
  height: 155px;
  background: white;
}

.card2:hover .inner {
  opacity: 1;
  visibility: visible;
}

.card2:hover .other-ex {
  transform: scale(1.1) rotate(5deg);
}
